.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 76px;
    display: flex;
    /*For flex-direction column, the justify-content affects the vertical direction and the align items now afects the horizontal direction*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235,235,235);
}

/*A space means we're targetting all images inside the sidebar-links ONLY*/
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
}